 <ng-container body>

    <div class="container">
      <h3 style="color: dodgerblue"> Your Products</h3>
      <br>
      <table class="table">
        <tr>
          <td>#</td>
          <td>Name</td>
          <td>Phone</td>
          <td>Quantity</td>
        </tr>
        <tr *ngFor="let product of user_products">
          <td>{{product.id}}</td>
          <td>{{product.product.name}}</td>
          <td>{{product.product.price}}</td>
          <td>{{product.count}}</td>
          <td>
            <a routerLink="/contacts/{{product.id}}/">Update/Delete</a>
          </td>
        </tr>
      </table>
      <!--<ul class="list-group">
        <li *ngFor="let taskList of taskLists" class="list-group-item d-flex justify-content-between align-items-center">
          {{taskList.id}} - {{taskList.name}}
          <a routerLink="/task_lists/{{taskList.id}}/tasks">Tasks</a>
        </li>
      </ul>-->
    </div>
  </ng-container>
