<style>
  td a{
    color:white;
  }
</style>
<h3 style="margin-left: 50px; margin-top: 20px">If you click to "Log out" and no reaction, please open browser console and type:</h3>
<h3 style="margin-left: 50px">localStorage.clear()</h3>
<h5 style="color: gray">Admin: Admin 123123</h5>

<h5 style="color: gray">You can Auth; Create, Update, Delete products, user products from admin. Then you will see changes in frontend.</h5>
<h5 style="color: gray">Add 1 button in working., but only for products added from admin panel. Just add product to User Products and button will work</h5>
<nav class="navbar navbar-dark bg-dark" style="height:200px">
  <a routerLink="/" class="navbar-brand ml-auto">Final Khalykbayev Alisher</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" *ngIf="auth.isAuthenticated()">
    </li>
  </ul>
  <ul class="navbar-nav mr-auto pull-right">
    <li class="nav-item" *ngIf="!auth.isAuthenticated()">
      <a routerLink="/login" class="nav-link"> Log In </a>
    </li>
    <li class="nav-item" *ngIf="auth.isAuthenticated()">
      <a class="nav-link" (click)="logout()"> Log Out </a>
    </li>
    <li class="nav-item" *ngIf="!auth.isAuthenticated()">
      <a routerLink="/register" class="nav-link"> Register </a>
    </li>
  </ul>

</nav>

<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="container col-md-6">
      <ng-content *ngIf="auth.isAuthenticated()" select="[body]"></ng-content>
      <ng-content *ngIf="!auth.isAuthenticated()" select="[authforms]"></ng-content>
    </div>

  </div>
</div>
