 <ng-container body>
    <div class="container">
      <h3 style="color: dodgerblue"> Products</h3>
      <br>
      <table class="table">
        <tr>
          <td>#</td>
          <td>Name</td>
          <td>Price</td>
          <td>Quantity</td>
        </tr>
        <tr *ngFor="let product of products">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>
          <td>
<!--            <input type="text" class="form-control">-->
            <button type="button" class="btn btn-warning btn-sm" (click)="addProduct(product.name)">Add 1</button>
<!--            <a routerLink="/contacts/{{product.id}}/">Add 1</a>-->
<!--            <a routerLink="/contacts/{{product.id}}/">Add 5</a>-->
<!--            <a routerLink="/contacts/{{product.id}}/">Add 10</a>-->
          </td>
        </tr>
      </table>
      <!--<ul class="list-group">
        <li *ngFor="let taskList of taskLists" class="list-group-item d-flex justify-content-between align-items-center">
          {{taskList.id}} - {{taskList.name}}
          <a routerLink="/task_lists/{{taskList.id}}/tasks">Tasks</a>
        </li>
      </ul>-->
    </div>
  </ng-container>
